<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ORYM's Project 3 - Traffic Violations</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/dashboard.css" rel="stylesheet">
    <link href="static/css/table.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>


  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{url_for('index')}}">ORYM's Project</a>
    </nav>    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" id="charts">
              <li class="nav-item">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Data Visualization</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
              </li>
              <li class="nav-item">
                <a data-chart-id="/metadata/piechart" class="nav-link" href="{{url_for('index')}}">
                  Yearly Stats - Pie
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/metadata/month/linechart/" href="{{url_for('scatterchart')}}">
               Monthly Stats - Line
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/metadata/barchart/12" href="{{url_for('barmonthly')}}">
                  Monthly Stats - Bar
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/metadata/week/linechart/" href="{{url_for('scatterweekly')}}">
                  Weekly Stats - Line
                </a>
              </li>
            </ul>
          
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Data Comparison</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2" id="charts">
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/alcoholchart" href="{{url_for('alcoholchart')}}">
                  Alcohol Related Violations
                </a>
              </li>
              <li class="nav-item">
                <a data-chart-id="/property" class="nav-link" href="{{url_for('propertychart')}}">
                  Property Damage Violations
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/fatal" href="{{url_for('fatalchart')}}">
                  Fatal Accidents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/ppeinjury" href="{{url_for('ppeinjurychart')}}">
                  Personal Injury Accidents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-chart-id="/comlicense" href="{{url_for('comlicensebar')}}">
                  Commercial Licenses Violations
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-chart-id="/belts" href="{{url_for('seatbeltbar')}}">
                  Seatbelt Violations
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">2016 Traffic Violations Statistics: Alcohol vs Date of Violation </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          <div id="bar"></div>
          <h2>Section title</h2>
          <div class="table-responsive">
          <div id="mytable"></div>
            <table class="table table-striped table-sm" id="excelDataTable">
            </table>
          </div>
        </main>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/beltbar.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
